*{
    margin: 0; 
    padding: 0;    
}

.carousel-inner {
    height: 80vh;  
}

.div-header {
    position: relative;
}

.div-header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;      
    font-size: 4.5em;
    text-shadow: rgb(39, 39, 39) 1px 0 10px;
}

.div-header h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 1.2em;
    text-shadow: rgb(39, 39, 39) 1px 0 10px;
}

/* Banner */
.banner {
    opacity: 80%;
    width: 100%;
    filter: brightness(0.70) opacity(0.90);
}


.conteudo{
    margin-top: 5%;
    margin-bottom: 5%;
}

.conteudo2{
    background-color: rgb(211, 211, 211);
    margin-top: 5%;
    margin-bottom: 5%;
}

.conteudo2 p{
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}

#img2{
    padding-top: 8%;
    width: 35%;
    height: 35%;
}


hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.txt-conteudo{
    margin-right: 10%;
}

.txt-conteudo h1{
    color: rgba(211, 5, 5, 0.842);
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;      
    font-size: 4.5em;
}


#img1 {
    box-shadow: 0 4px 8px 0 rgba(0, 153, 255, 0.705), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    width: 35%;
    height: 35%;
}


.cards{
    margin-top: 5%;
    margin-bottom: 8%;
}

.card-img-top{
    width: 200px;
    width: 350px;
}

#btn-comentario{
    width: 100%;
}


.rodape {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
