*{
    margin: 0; 
    padding: 0;    
}

.carousel-inner {
    height: 60vh;  
}

.div-header {
    position: relative;
}

.div-header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;      
    font-size: 4.5em;
    text-shadow: rgb(39, 39, 39) 1px 0 10px;
}

.div-header h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 1.2em;
    text-shadow: rgb(39, 39, 39) 1px 0 10px;
}

/* Banner */
.banner {
    opacity: 80%;
    width: 100%;
    filter: brightness(0.70) opacity(0.90);
}


.conteudo{
    margin-top: 5%;
    margin-bottom: 5%;
}

.txt-conteudo{
    font-size: 1.2em;
    justify-content: center;
}

.txt-conteudo h1{
    color: rgba(211, 5, 5, 0.842);
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;      
    font-size: 2.8em;
}

hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


.rodape {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
